[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pylint = "~=2.3.1"
astroid = "~=2.2.5"
pylint-django = "*"
black = "20.8b1"

[packages]
djangorestframework = "~=3.10.3"
django-filter = "~=2.2.0"
jsonschema = "~=3.0.2"
pika = "~=1.1.0"
dataclasses-json = "~=0.4.2"
psycopg2 = "~=2.8.4"
requests = "~=2.22.0"
Django = "~=2.2.5"
django-environ = "*"

[pipenv]
allow_prereleases = true
