webdavclient3 ~= 0.12
Django ~= 2.2.5
docker ~= 4.0.2
djangorestframework ~= 3.10.3
Markdown ~= 3.1.1
django-filter ~= 2.2.0
psycopg2 ~= 2.8.3
jsonschema ~= 3.0.2
pika ~= 1.1.0
dataclasses_json ~= 0.3.4
requests ~= 2.22.0