<div style="font-family: sans-serif;">
    <p>
    Dear user,
    </p>

    <p>
    {{author_email}} just granted your algorithm ({{algorithm}}) access to their dataset ({{dataset}}).
    </p>

    <p>
    You will now be able to run algorithms on this dataset without requesting
    permission first.
    </p>

    <p>
    To review the datasets you have access to, click the following URL:<br>
    <a href="{{url}}">{{url}}</a>
    </p>

    <p>
    If the above link is not clickable, try copying and pasting it into the
    address bar of your web browser.
    </p>

    <p>DataExchange</p>
</div>
