<div style="font-family: sans-serif;">
    <p>
    Dear user,
    </p>

    <p>
    You just granted {{author_email}} access to
    your dataset ({{dataset}}) for their algorithm ({{algorithm}}).
    </p>

    <p>
    If this was not your intention, click the following URL to immediately
    revoke access:<br>
    <a href="{{url}}">{{url}}</a>
    </p>

    <p>
    If the above link is not clickable, try copying and pasting it into the
    address bar of your web browser.
    </p>

    <p>DataExchange</p>
</div>
