[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
jedi = "*"

[packages]
tensorflow = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
scipy = "*"
pyyaml = "*"
h5py = "*"
keras = "*"

[requires]
python_version = "3.7"
