server {
    listen 80;
    server_name {{inventory_hostname}};

    root /var/www/html;

    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://localhost:3000;
        auth_basic "Restricted content";
        {% if setup_basic_auth %}
        auth_basic_user_file /etc/nginx/.htpasswd;
        {% endif %}
    }

    location ~ ^/(api|admin) {
        uwsgi_pass localhost:5000;
        include uwsgi_params;
    }
}